body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF; /* Optional: Change background color */
}

h1, h2{
    margin: 0;
    padding: 0;
    text-align: center;
}

.heading{
    background-color: darkblue;
    color: white;
    margin: 0;
    padding: 20px 0;
}

canvas {
    display: block; /* Prevent scrollbars caused by inline block */
}